In [ ]:
import pandas as pd

df = pd.read_csv("/mnt/hdd1/moon/ev_data/label_data/sk/EV-DATA-NIRO-220101-220331.csv.gz_0_6_2.csv", low_memory=False)

df

,2022-03-08 11:37:00.277,M1200606236,2022-03-08 11:32:25.000,2022030811,true,2022-03-08 12:02:08.380,Unnamed: 6,66.5,29.1,371.9,...,Unnamed: 352,Unnamed: 353,Unnamed: 354,Unnamed: 355,Unnamed: 356,Unnamed: 357,Unnamed: 358,Unnamed: 359,label,text
0,2022-03-08 11:37:00.277,M1200606236,2022-03-08 11:32:35.000,2022030811,True,2022-03-08 12:02:08.380,NaN,66.5,-9.7,374.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ev-sk-origin,2022-03-08 11:37:00.277: 2022-03-08 11:37:00.2...
1,2022-03-08 11:37:00.277,M1200606236,2022-03-08 11:32:45.000,2022030811,True,2022-03-08 12:02:08.380,NaN,66.5,-16.6,375.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ev-sk-origin,2022-03-08 11:37:00.277: 2022-03-08 11:37:00.2...
2,2022-03-08 11:37:00.277,M1200606236,2022-03-08 11:32:55.000,2022030811,True,2022-03-08 12:02:08.380,NaN,66.5,-5.2,374.9,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ev-sk-origin,2022-03-08 11:37:00.277: 2022-03-08 11:37:00.2...
3,2022-03-08 11:37:00.277,M1200606236,2022-03-08 11:33:05.000,2022030811,True,2022-03-08 12:02:08.380,NaN,66.5,-79.0,380.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ev-sk-origin,2022-03-08 11:37:00.277: 2022-03-08 11:37:00.2...
4,2022-03-08 11:37:00.277,M1200606236,2022-03-08 11:33:15.000,2022030811,True,2022-03-08 12:02:08.380,NaN,66.5,2.7,374.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ev-sk-origin,2022-03-08 11:37:00.277: 2022-03-08 11:37:00.2...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14995,2022-03-03 10:15:00.560,M2210703612,2022-03-03 10:08:36.000,2022030310,True,2022-03-03 11:01:45.927,NaN,26.5,0.3,351.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ev-sk-origin,2022-03-08 11:37:00.277: 2022-03-03 10:15:00.5...
14996,2022-03-03 10:15:00.560,M2210703612,2022-03-03 10:08:46.000,2022030310,True,2022-03-03 11:01:45.927,NaN,26.5,0.6,351.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ev-sk-origin,2022-03-08 11:37:00.277: 2022-03-03 10:15:00.5...
14997,2022-03-03 10:15:00.560,M2210703612,2022-03-03 10:08:56.000,2022030310,True,2022-03-03 11:01:45.927,NaN,26.5,0.4,351.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ev-sk-origin,2022-03-08 11:37:00.277: 2022-03-03 10:15:00.5...
14998,2022-03-03 10:15:00.560,M2210703612,2022-03-03 10:09:16.000,2022030310,True,2022-03-03 11:01:45.927,NaN,26.5,0.6,351.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ev-sk-origin,2022-03-08 11:37:00.277: 2022-03-03 10:15:00.5...
14999,2022-03-03 10:15:00.560,M2210703612,2022-03-03 10:09:26.000,2022030310,True,2022-03-03 11:01:45.927,NaN,26.5,0.4,351.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ev-sk-origin,2022-03-08 11:37:00.277: 2022-03-03 10:15:00.5...

In [6]:
import pandas as pd
import os

# 합칠 파일 경로
csv1_path = "/mnt/hdd1/moon/ev_data/dataset/betterwhy_data_label.csv"
csv2_path = "/mnt/hdd1/moon/ev_data/dataset/sk_data_label.csv"

# 출력 파일 경로
output_path = "/mnt/hdd1/moon/ev_data/dataset/merged_dataset.csv"

# CSV 파일 불러오기
df1 = pd.read_csv(csv1_path)
df2 = pd.read_csv(csv2_path)

# 두 데이터프레임 합치기
merged_df = pd.concat([df1, df2], ignore_index=True)

# 합친 데이터 저장
merged_df.to_csv(output_path, index=False)

print(f"✅ CSV 파일 합치기 완료! 저장 경로: {output_path}")

✅ CSV 파일 합치기 완료! 저장 경로: /mnt/hdd1/moon/ev_data/dataset/merged_dataset.csv